h1{
    background-color: rgb(231, 195, 147);
    color: #ea7c7c;
}
body {
    font-family: Arial, sans-serif;
}

#listPage.print {
    background-color: #9df39b;
    padding: 20px;
    font-family: cursive;
}

#listPage.print ul {
    margin: 10px 0px;
    padding: 0px;
    border-left: 4px double rgb(143, 163, 231);
}

#listPage.print li {
    list-style-type: none;
    margin: 0px -20px;
    padding-left: 26px;
    border-bottom: 1px solid rgb(16, 158, 209);
    line-height: 36px;
    font-size: 24px;
    font-family: cursive;
}

#printable {
    background-color: rgb(255, 0, 157);
}

#addIt {
    background-color: blueviolet;
}

#iWant {
    background-color: rgb(182, 238, 240);
}