  #div {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  table,
    th,
    td {
      border: 1px solid black;


    }

    table {
      border-collapse: collapse;
      align-items: center;
      vertical-align: middle;
      width: 700px;
      height: 200px;
      margin: 0 auto;
    }

    th,
    td {
      text-align: center;
    }

    th {
      background-color: aqua;
    }

    .checkout-button {
      margin: 0 auto;
      display: block;
      width: 200px;
      padding: 10px 10px;
      margin-top: 20px;
      background-color: blue;
      cursor: pointer;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      border: none;
      border-radius: 1px;
    }

    .add-btn {
      background-color: green;
      cursor: pointer;
      color: white;
       border: none;
    }

    .delete-btn {
        background-color: red;
        cursor: pointer;
        color: white;
        border: none;
    }